@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

.App {
  text-align: center;
}

.header-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
}

.body-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.red-button {
  margin-left: 45px;
  outline: none;
  width: 300px;
  height: 54px;
  background: #e1544e !important;
  box-shadow: 0px 5px 10.4473px rgba(0, 0, 0, 0.1);
  border-radius: 32px !important;
}

.red-button:focus {
  outline: 0 !important;
}

.red-button-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16.7164px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffff;
}

.example::-webkit-scrollbar {
  display: none;
}

.top-banner {
  background: url("./components/back.png");
  height: 899px;
}
