@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

.App {
  text-align: center;
}

.header-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  width: 80%;
  margin-left: 10%;
}

.body-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 80%;
  margin-left: 10%;
}

.red-button {
  position: relative;
  left: -31.4%;
  margin-top: 2%;
  outline: none;
  width: 300px;
  height: 54px;
  background: #e1544e !important;
  box-shadow: 0px 5px 10.4473px rgba(0, 0, 0, 0.1) !important;
  border-radius: 32px !important;
  border: 2px solid #e1544e !important;
}

.red-button:focus {
  outline: 0 !important;
}

.red-button:hover {
  background-color: white !important;
}

.red-button:hover .red-button-text {
  color: #e1544e !important;
}
.red-button-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16.7164px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffff;
}

.blue-button {
  outline: none;
  width: 134px;
  height: 43px;
  margin-left: -40%;
  margin-top: 2%;
  background: #657991 !important;
  box-shadow: 0px 5px 10.4473px rgba(0, 0, 0, 0.1) !important;
  border-radius: 21.5px !important;
  border: 2px solid white !important;
}

.blue-button:focus {
  outline: 0 !important;
}

.blue-button:hover {
  background-color: white !important;
}

.blue-button:hover .blue-button-text {
  color: #657991 !important;
}

.blue-button-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16.7164px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffff;
}

.example::-webkit-scrollbar {
  display: none;
}

.top-banner {
  background: url("./components/back.png");
  height: 899px;
}

.text-info-card {
  width: 220px;
  margin-left: 7%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18.8852px;
  line-height: 28px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  border-bottom: 4px dotted #000000;
  margin-bottom: 1%;
  text-align: center;
}

.text-sec-info-card {
  width: 580px;
  margin-left: 7%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  text-align: left;
  color: #000000;
  margin-bottom: 2%;
}

.right-card-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16.3686px;
  line-height: 25px;
  color: white;
  margin-top: 5%;
}

.right-card-step {
  height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18.8852px;
  line-height: 28px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #ffffff;
}

.right-card-step-next {
  height: 28px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 7%;
}
